numpy<2.0.0
streamlit
yt-dlp
opencv-python-headless
Pillow
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu
anthropic
openai-whisper
python-dotenv
beautifulsoup4
markdown
Jinja2
weasyprint
playwright
reportlab
pdfkit
scikit-learn<1.4.0
soundfile
nest-asyncio
ffmpeg

