streamlit
yt-dlp
opencv-python-headless
Pillow
numpy
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
torchvision==0.17.1+cpu
anthropic
openai-whisper
python-dotenv
beautifulsoup4
markdown
Jinja2
weasyprint
playwright
reportlab
pdfkit
scikit-learn
soundfile
nest-asyncio>=1.5.8